* {
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 70px;
}

#wrap {
    width: 60%;
    margin: 100px auto;
    font-family: 'Single Day', cursive;
}